.shadow{
    margin: 20px 40px 0 40px;
    padding: 10px;
    border-radius: 5px;
    box-shadow:0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.input-border{
  width: 33%;
  margin: 5px 10px;
}